@font-face {
  font-family: 'Arial-MT';
  src: url("../fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 40vh;
  min-height: 220px;
  padding: 20px;
}

.player__all {
  display: flex;
}
.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin-bottom: 28px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
  color: #00b4a4;
}

.play-item::before {
  content: "\2713";
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.player-icon.small {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background-size: 15px;
}
.item-active::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../svg/play.svg");
}
/*.play-item.player {*/
/*  width: 10px;*/
/*  height: 10px;*/
/*  background-image: url("../svg/play.svg");*/
/*  background-repeat: no-repeat;*/
/*  background-position: center;*/
/*  background-size: cover;*/
/*}*/

.settings {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
}
.set-img {
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;
}

.footer__items {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.popup {
  display: none;
  /*background-color: rgb(0, 0, 0.4);*/
  /*opacity: .7;*/
  position: fixed;
  top: 0px;
  left: 0px;
  justify-content: center;
  align-items: center;
  /*pointer-events: none;*/
  transition: .5s;
  height: 100%;
  width: 100%;
}

.popup-content {
  display: none;
  justify-content: flex-start;
  flex-direction: column;
  width: 1000px;
  height: 1000px;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  transform: scale(.5);
  transition: .4s all;
  z-index: 100;
  opacity: .9;
margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .popup-content {
    width: 90vw;
    height: auto;
  }
}
.photo__tag-nature {
  margin-left: 67px;
}

.photo__text,
.tags__text,
.about-photo__text,
.span-text,
.span-text__weather,
.span-text__player,
.span-text__quotes,
.hide__text {
  color: #444444;
  z-index: 120;
  margin-right: 100px;

  font-size: 28px;
}

.hide__info {
  margin-top: 60px;
}

.language {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 50px;
}
.photo-res,
.tags,
.hide {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.hide {
  flex-flow: column;
  overflow-y: hidden;
}
.photo-res {
  margin-bottom: 50px;
}
.photo__git,
.photo__unsplash,
.photo__flickr,
.photo__tag-nature,
.photo__tag-morning,
.photo__tag-afternoon,
.photo__tag-evening,
.photo__tag-night {
  cursor: pointer;
  width: 120px;
  padding: 5px;
  border-radius: 5px;
  font-size: 24px;
}

.photo__tag-nature,
.photo__tag-morning,
.photo__tag-afternoon,
.photo__tag-evening {
  margin-right: 20px;
}

.photo__tag-evening {
  margin-left: 310px;
}

.photo__tag-evening,
.photo__tag-night {
  margin-top: 20px;
}
.trans__en {
/*.trans__ru {*/
  margin-left: 80px;
  margin-right: 20px;
}

.tags {
  flex-wrap: wrap;
}
.translate__en,
.translate__ru,
.trans__en,
.trans__ru {
  cursor: pointer;
  width: 85px;
  padding: 5px;
  border-radius: 5px;
  font-size: 24px;
}
.photo__git,
.photo__unsplash {
  margin-right: 20px;
}

.translate__ru:hover,
.photo__git:focus,
.trans__en:focus,
.trans__ru:focus,
.photo__unsplash:focus,
.photo__flickr:focus,
.translate__ru:focus,
.translate__en:hover,
.translate__en:focus,
.photo__tag-nature:focus,
.photo__tag-morning:focus,
.photo__tag-afternoon:focus,
.photo__tag-evening:focus,
.photo__tag-night:focus {
  cursor: pointer;
  background-color: #00b4a4;
}
.pause {
  background-image: url("../svg/pause.svg");
}

.play-prev {
  background-image: url("../svg/play-prev.svg");
}

.play-next {
  background-image: url("../svg/play-next.svg");
}

.active {
  color: #00b4a4;
}

.audio-player {
  height: 50px;
  width: 350px;
  background: #444;
  box-shadow: 0 0 20px 0 #000a;
  color: white;
  font-size: 0.75em;
  overflow: hidden;
  display: grid;
  grid-template-rows: 6px auto;
}
.audio-player .controls {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 20px;
}
.controls .playerTime,
.controls .musicName,
.volume-container .volume-button {
  display: flex;
  justify-content: center;
  align-items: center;
}


.timeline {
  background: white;
  width: 100%;
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 10px 0 #0008;
}

.progress {
  background: coral;
  width: 0;
  height: 100%;
  transition: 0.25s;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 20px;
}

.play-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle-play.player {
  cursor: pointer;
  position: relative;
  left: 0;
  height: 0;
  width: 0;
  border: 7px solid #0000;
  border-left: 13px solid white;
}
.toggle-play.player:hover {
   transform: scale(1.1);
 }
.toggle-play.paused {
  height: 15px;
  width: 20px;
  cursor: pointer;
  position: relative;
}

.toggle-play.paused:before {
   position: absolute;
   top: 0;
   left: 0px;
   background: white;
   content: "";
   height: 15px;
   width: 3px;
 }
.toggle-play.paused:after {
   position: absolute;
   top: 0;
   right: 8px;
   background: white;
   content: "";
   height: 15px;
   width: 3px;
 }
.toggle-play.paused:hover {
   transform: scale(1.1);
 }

.playerTime {
  display: flex;
}
.current {
  padding: 2px;
}

.controls .volume-container {
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.volume-button {
  height: 26px;
  display: flex;
  align-items: center;
}

.volume {
  transform: scale(0.7);
}

.volume-slider {
  position: absolute;
  left: -3px;
  top: 15px;
  z-index: -1;
  width: 0;
  height: 15px;
  background: white;
  box-shadow: 0 0 20px #000a;
  transition: .25s;
}

.volume-percentage {
  background: coral;
  height: 100%;
  width: 75%;
}

.volume-slider:hover {
  left: -123px;
  width: 120px;
}
.header,
.main,
.footer {
  min-height: 180px;
  height: 33vh;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
  border: 2px solid white;
  border-radius: 10px;
  background-color: rgba(0, 0, 0 .8);
  padding-left: 10px;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /*height: 30vh;*/
  min-height: 40vh;
  padding: 20px;
  overflow-y: hidden;
  margin-top: -50px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../svg/slider-next.svg");
}

.time {
  min-height: 16vh;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
  overflow-y: hidden;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
  display: flex;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 20vh;
  width: 100vw;
  font-size: 40px;
  /*  // margin-left: 200px;*/
  /*}*/
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 160px;
  padding: 20px;
  margin-top: -50px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../svg/reload.svg");
}

.quotes__all {
  display: block;
}
.quote {
  min-height: 32px;
  font-style: italic;
  font-weight: bold;
}

.author {
  min-height: 20px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
    flex-flow: column;
    flex-wrap: wrap;
  }

  .greeting {
    padding: 5px;
    flex: 3;
  }

  .name {
    font-size: 24px;
    padding: 5px;
  }
  .weather,
  .city {
    font-size: 10px;
    width: 36vw;
  }
}


.switch {
  position: relative;
  width: 221px;
  height: 90px;
  border-radius: 25px;
  top: 16px;
  right: 120px;
  margin-left: 400px;
}
@media (max-width: 600px) {
  .switch {
    right: 200px;
    top: 10px;
  }
}

.checkbox:checked ~ .switch-bg {
  background-color: cadetblue;
}

.checkbox {
  visibility: hidden;
}

.switch-bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 50%;
  background: #C4C4C4;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.checkbox-label:before {
  position: absolute;
  content: "";
  height: 38px;
  width: 38px;
  top: 1px;
  right: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  box-shadow: 0 2px 7px rgb(0 0 0/38%);
  z-index: 1;
  cursor: pointer;
}
.checkbox:checked ~ .checkbox-label:before {
  transform: translateX(-48px);
}

@media screen and(max-width: 500px) {
 .greeting {
   font-size: 18px;
 }
}

@media screen and(max-width: 768px) {
  .greeting {
    font-size: 32px;
    min-height: 40px;
  }
}
